body {
	background-image: url('http://i.imgur.com/nqStl40.jpg');
}

.card__container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.card {
	position: relative;
	background: #fff;
	min-width: 250px;
	min-height: 250px;
	margin: 10px;
	transition: all .3s ease-in-out;
}

.card:hover {
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, .75);
	transform: scale(1.1);
}

.card__name,
.card__type,
.card__chemical,
.card__value {
	position: absolute;
	color: #fff;
	font-family: sans-serif;
}

.card__name {
    font-size: 18px;
    color: #000;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
}

.card__chemical {
	font-size: 36px;
	left: 10px;
	bottom: 0;
	margin: 0;
}

.card__type {
	color: #000;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
}

.card__value {
	right: 10px;
}

.card__background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
}

.card__background.Oxide {
	background: #FFC54E;
}

.card__background.Isotope {
	background: #C1392C;
}

.card__background.Alloy {
	background: #F98A47;
}

.card__background.Silicate {
	background: #074CA0;
}

.card__background.Neutral {
	background: #64C290;
}

.card__background.Precious {
	background: #702782;
}