body {
	background-image: url('http://i.imgur.com/nqStl40.jpg');
}

.card__container {
	width: 100%;
	display: flex;
	flex-flow: wrap;
}

.card {
	position: relative;
	background: #fff;
	min-width: 250px;
	margin: 10px;
}

.card__background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
}

.card__background.Oxide {
	background: yellow;
}

.card__background.Isotope {
	background: red;
}

.card__background.Alloy {
	background: orange;
}

.card__background.Silicate {
	background: blue;
}

.card__background.Neutral {
	background: lime;
}

.card__background.Precious {
	background: purple;
}